<!DOCTYPE html>
<html>

<head>
	<!-- Make site responsive on mobile/tablet -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>YelpCamp Demo</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<link rel="stylesheet" href="/stylesheets/app.css" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/48c6529706.js" crossorigin="anonymous"></script>
</head>

<body class="bg-secondary">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class='container'>
		<a class="navbar-brand" href="/">YelpCamp</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
					<a class="nav-link" href="/campgrounds"><span class='fas fa-home'></span> Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
			</ul>
			<ul class="navbar-nav ">
				<% if(!currentUser){ %>
					<li class = "nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
						<a class="nav-link" href="/login"><span class='fas fa-user'></span> Login</a>
					</li>
					<li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
						<a class="nav-link" href="/register"><span class='fas fa-user-plus'></span> Sign Up</a>
					</li>
				<% }else{ %>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle <%=(notifications.length > 0) ? 'active' : '' %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Notifications <span class='badge badge-secondary'><%= notifications.length %></span>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/notifications">Notifications Page</a>
							<% if(notifications.length > 0){ %>
								<div class="dropdown-divider"></div>
							<% } %>
							<% notifications.forEach(notification => { %>
								<% if(notification.campground){ %>
									<a class="dropdown-item" href="/notifications/<%= notification._id %>"><%= notification.user.username %> has a new campground!</a>
								<% } else{ %>
									<a class="dropdown-item" href="/notifications/<%= notification._id %>"><%= notification.user.username %> has a new comment!</a>
								<% } %>
							<% }); %>
						</div>
				  	</li>
					<li class="nav-item <%= typeof page !== 'undefined' && page === 'profile' ? 'active' : '' %>">
						<a class="nav-link" href='/userprofile'>
							<% if(currentUser.isAdmin){ %>
								Administrator:
							<% } else{ %>
								Signed in as
							<% } %>
								<%= currentUser.username %>
						</a>
					</li>

					<li class='nav-item'>
						<a class="nav-link" href="/logout">Log Out</a>
					</li>
				<% }%>

			</ul>
			<form class="form-inline my-2 my-lg-0" action='/campgrounds' method='GET'>
				<input class="form-control mr-sm-2" type="search" name='search' placeholder="Search Campgrounds..." aria-label="Search">
				<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><span class='fas fa-search'></span> Search</button>
			</form>
		</div>
	</div>

</nav>
<main role="main" class="flex-shrink-0 <%= typeof page !== 'undefined' && ((page === 'campgrounds')||(page === 'profiles')||(page === 'profile')||(page === 'show')) ? '' : 'pt-5 pb-5' %>">


	<div class="container pb-5 pt-3 <%= (typeof page !== 'undefined' && page==='show') ? 'bg-secondary': 'bg-white rounded-lg border border-dark'%> <%= typeof form !== 'undefined' && form ? 'col-md-7 col-lg-5' : '' %>">
		<% if(error&&error.length>0){%>
			<div class="alert alert-danger" role="alert">
				<%=error%>
			</div>
		
		<% }%>
		<%if(success&&success.length>0){%>
			<div class="alert alert-success" role="alert">
				<%=success%>
			</div>
		<% }%>