<%include ../partials/header %>

	<div class='row'>
		<div class='col-md-2 order-3 order-md-1 mt-3 mt-md-5'>
			<div id='map' class='rounded-lg'></div>
		</div>
		<div class='col-md-10 order-md-3'>
			<div class='card'>
				<img id='image' class='card-img-top' src='<%=campground.img%>'>
				<div class='card-body'>
					<h5 class='card-title display-4'>
							<%=campground.title%>
					</h5>
					<div class='card-subtitle border-bottom'>
						<h4>
							<% if(currentUser && (currentUser._id.equals(campground.author._id))){ %>
									<a class='new-link' href='/userprofile'>
							<% } else { %>
									<a class='new-link' href='/profiles/<%=campground.author._id%>'>
							<% } %>
								<em>Created by:
									<%=campground.author.username %></em></a>

							<span class='float-right'>$<%= campground.price %> per night</span>
						</h4>
						<h5>
							<% if(campground.reviews.length === 0){ %>
									<em>No reviews yet</em>
							<% } else{ %>
									<span class="fa<%=((campground.rating>.75)||((campground.rating>=0.5)&&(campground.rating<=0.75)))? 's': 'r' %> fa-star<%=((campground.rating>=0.5)&&(campground.rating<=0.75))?'-half-alt':'' %> checked"></span>
									<span class="fa<%=((campground.rating>1.75)||((campground.rating>=0.5)&&(campground.rating<=0.75)))? 's': 'r' %> fa-star<%=((campground.rating>=1.5)&&(campground.rating<=1.75))?'-half-alt':'' %> checked"></span>
									<span class="fa<%=((campground.rating>2.75)||((campground.rating>=2.5)&&(campground.rating<=2.75)))? 's': 'r' %> fa-star<%=((campground.rating>=2.5)&&(campground.rating<=2.75))?'-half-alt':'' %> checked"></span>
									<span class="fa<%=((campground.rating>3.75)||((campground.rating>=3.5)&&(campground.rating<=3.75)))? 's': 'r' %> fa-star<%=((campground.rating>=3.5)&&(campground.rating<=3.75))?'-half-alt':'' %> checked"></span>
									<span class="fa<%=((campground.rating>4.75)||((campground.rating>=4.5)&&(campground.rating<=4.75)))? 's': 'r' %> fa-star<%=((campground.rating>=4.5)&&(campground.rating<=4.75))?'-half-alt':'' %> checked"></span>
							<% } %>
							<em>(total reviews: <%= campground.reviews.length %>)</em>
						</h5>
							
					</div>
					<p class='pt-2'>
						<%=campground.description%>
					</p>
					<p>
						Posted: <%= moment(campground.createdAt).fromNow()%>
							
					</p>
					<div class='float-right'>

						<% if(currentUser && (currentUser.isAdmin||campground.author._id.equals(currentUser._id))){ %>
							<a class='btn btn-sm btn-warning' href='/campgrounds/<%= campground._id%>/edit'><span class='fas fa-edit'></span> Edit</a>
							
							<% } %>
						<% if(currentUser && !(campground.author._id.equals(currentUser._id))){ %>
							<% if(!isFollower){ %>
								<a class='btn btn-sm btn-success' href='/follow/<%= campground.author._id %>'>
									Follow
								</a>
							<% } else{ %>
								<a class='btn btn-sm btn-danger' href='/follow/<%= campground.author._id %>/unfollow'>
									Unfollow
								</a>
							<% } %>
						<% } %>
					</div>
					<div>
						<form action="/campgrounds/<%= campground._id %>/like" method="POST">
							<div class="btn-group">
								<% if (currentUser && campground.likes.some(function (like) {
									return like.equals(currentUser._id)
								})) { %>
									<button class="btn btn-sm btn-primary" data-backdrop="static" data-toggle="modal" data-target="#disableLike">
										<i class="fas fa-thumbs-up"></i> Liked (<%= campground.likes.length %>)
									</button>
								<% } else { %>
									<button class="btn btn-sm btn-secondary" data-backdrop="static" data-toggle="modal" data-target="#disableLike">
										<i class="fas fa-thumbs-up"></i> Like (<%= campground.likes.length %>)
									</button>
								<% } %>
								<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#campgroundLikes">See more details
								</button>
							</div>
						</form>
					</div>
					
				</div>
			</div>
			<div class='card mt-1'>
				  
				<div class='card-body'>
					<div class='card-title'>
						<div class="float-right">
    						<a href="/campgrounds/<%= campground._id %>/comments"><i class="fa fa-search" aria-hidden="true"></i> See all comments</a>
						</div>
						<h3>
							<span class='fas fa-comments'></span> Latest Comments:
						</h3>
					</div>
					
					<div class='card-subtitle'>
						
						<div class='float-right'>
							<a class="btn btn-sm btn-success pull-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
								<span class="far fa-plus-square" aria-hidden="true"></span> Add Comment</a>
						</div>
						<h5>
							Total comments: <%= campground.comments.length %>
						</h5>
					</div>
					
					<div class="collapse pt-1" id="collapseComment">
						<div class="card mb-3 submit-form">
							<div class='card-body pb-1'>
								<% if(!currentUser) { %>
									<!--If the user is not logged in, direct him to the login page i am working here-->
									<div class = 'card-subtitle'>
										<h5>You need to login before you can comment.
											<a href="/login">Click here</a> to go to the login page.
										</h5>	
									</div>
								<% } %>
								<% if(currentUser) { %>
								<!--If the user is logged in, show the new comment form-->
									<div class ='card-subtitle'>
										<h4>Write your comment <span class="fas fa-pencil-alt" aria-hidden="true"></span>
										</h4>
									</div>
									<div>
										<form id="add-comment-form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
											<div class="form-group">
												<input class="form-control" type="text" disabled value="<%= currentUser.username %>">
											</div>
											<div class="form-group">
												<textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70"></textarea>
											</div>
											<div class="form-group">
												<button class="btn btn-success btn-sm">Comment <span class='fas fa-comment'></span>
												</button>
											</div>
										</form>	
									</div>
									
								<% } %>
							</div>
						</div>
					</div>
					<ul class="list-unstyled accordion pt-1" id='commentsAccordion'>
						<% if (campground.comments.length === 0) { %>
						<li class='media border alt-bg no-input col align-self-center'>
							<em>No comments yet.</em>
						</li>	
						<% } %>
						<% let s = 1; campground.comments.slice(0, 5).forEach(function(comment){ %>
						<li class="media border <%= (s%2!==0)?'alt-bg':''%>">
							  <% s++ %>
							<div class="media-body px-3 py-1">
								<p class='float-right font-italic'>
											<%= moment(comment.createdAt).fromNow()%>
									
								</p>
								<p>
								  <span class='h5'>
									  <% if(currentUser && (currentUser._id.equals(comment.author._id))){ %>
											<a class='new-link' href='/userprofile'>
										<% } else { %>
											<a class='new-link' href='/profiles/<%=comment.author._id%>'>
										<% } %>
											<span class="fas fa-user-circle"></span> <%=comment.author.username%>
											</a>
									</span>
													
								</p>
								<% if(currentUser && (currentUser.isAdmin || comment.author._id.equals(currentUser._id))){ %>
									<div class='float-right'>
										<a class='btn btn-sm btn-warning collapsed' role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapseEdit<%= comment._id %>">
											<span class='fas fa-edit'></span> Edit
										</a>
										<form action='/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE' method='POST'>
											<button class='btn btn-sm btn-danger' data-backdrop="static" data-toggle="modal" data-target="#disableDelete"><span class="fas fa-trash-alt"></span> Delete</button>
										</form>
									</div>
									
								<% } %>
								<p id='comment-Heading-<%= comment._id %>'>
									<%=comment.text%>	
								</p>
								<% if(currentUser && (currentUser.isAdmin || comment.author._id.equals(currentUser._id))){ %>
									<div class="collapse" id="collapseEdit<%= comment._id %>" aria-labelledby="'comment-Heading-<%= comment._id %>'" data-parent="#commentsAccordion">
										<div class="card edit-form" style="">
											<div class='card-body'>
												<div class='card-title'>
													<h5>Edit your comment
														<span class="fas fa-edit" aria-hidden="true"></span>
													</h5>
												</div>

												<form id="edit-comment-form<%= comment._id %>" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
													<div class="form-group">
														<input class="form-control" type="text" disabled value="<%= comment.author.username %>">
													</div>
													<div class="form-group">
														<textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
													</div>
													<div class="form-group">
														<button class="btn btn-warning btn-sm">Edit Comment <span class="far fa-comment"></span>
														</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								<% } %>
							</div>
						</li>
						<% }); %>
					</ul>
				</div>
			</div>
				
				
			<div class='card mt-1'>
				<div class='card-body'>
					<div class='card-title'>
						<div class="float-right">
							<a href="/campgrounds/<%= campground._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a>
							
						</div>
						<h3>
							Latest Reviews:
						</h3>
					</div>
					<div class='pb-1 card-subtitle'>
						<div class='float-right'>
							<% if(!currentUser || !userReview) { %>
								<a class="btn btn-sm btn-success pull-right" role="button" data-toggle="collapse" href="#collapseReview" aria-expanded="false" aria-controls="collapseReview">
			  <span class="far fa-plus-square" aria-hidden="true"></span> Add Review</a>
							<% } else {%>
									<a class="btn btn-sm btn-warning pull-right" role="button" data-toggle="collapse" href="#collapseEditReview" aria-expanded="false" aria-controls="collapseEditReview"><span class='fas fa-edit'></span> Edit</a>
									<form action='/campgrounds/<%=campground._id%>/reviews/<%=userReview[0]._id%>?_method=DELETE' method='POST'>
										<button class='btn btn-sm btn-danger' data-backdrop="static" data-toggle="modal" data-target="#disableDelete"><span class="fas fa-trash-alt"></span> Delete</button>
									</form>
							<% } %>
						</div>
						<h5>
							Current campground rating: <strong><%= campground.rating.toFixed(2) %></strong>
						</h5>	
					</div>
					<% if(userReview){ %>
						<div class="media border collapse show <%= (s%2!==0)?'alt-bg':''%>" id="collapseEditReview">
							<%s++;%>
							<div class="media-body px-3 py-1">
								<div class='float-right font-italic'>
									<%= moment(userReview[0].createdAt).fromNow()%>
								</div>
								<div>
									<span class='h5'>
									  <strong><a class='new-link' href="<%=(currentUser && (currentUser._id.equals(userReview[0].author._id))) ?'/userprofile' : '/profiles/'+userReview[0].author._id%>">Your Review</a></strong>
									</span>	
								</div>
								<div class='d-inline'>
									<%- '<span class="fas fa-star checked"></span>'.repeat(userReview[0].rating) %><%- '<span class="far fa-star checked"></span>'.repeat(5 - userReview[0].rating) %>
								</div>
									<p class='mt-1 d-inline pl-2'>
										<%= userReview[0].text %>
									</p>

							</div>
						</div>
						<div class="collapse pt-1" id="collapseEditReview">
							<div class="card mb-3 submit-form">
								<div class='card-body pb-1'>
									
									<div class ='card-subtitle'>
										<h4>Edit your review <span class="fas fa-pencil-alt" aria-hidden="true"></span>
										</h4>
									</div>
									<div>
										<form id="edit-review-form" action="/campgrounds/<%= campground._id %>/reviews/<%=userReview[0]._id%>?_method=PUT" method="POST">
											<div class="form-group">
												<input class="form-control" type="text" disabled value="<%= currentUser.username %>">
											</div>
											<div class='form-group'>
												<div class="starrating risingstar d-flex flex-row-reverse float-left d-block mt-0 mb-1">

													<input type="radio" id="star5" name="review[rating]" value="5" <%=(userReview[0].rating === 5) ? 'checked': ''%>/>
													<label for="star5" title="5 star">
														<span class="fas fa-star"></span>
													</label>
													<input type="radio" id="star4" name="review[rating]" value="4" <%=(userReview[0].rating === 4) ? 'checked': ''%>/>
													<label for="star4" title="4 star">
														<span class="fas fa-star"></span>
													</label>
													<input type="radio" id="star3" name="review[rating]" value="3" <%=(userReview[0].rating === 3) ? 'checked': ''%>/>
													<label for="star3" title="3 star">
														<span class="fas fa-star"></span>
													</label>
													<input type="radio" id="star2" name="review[rating]" value="2" <%=(userReview[0].rating === 2) ? 'checked': ''%>/>
													<label for="star2" title="2 star">
														<span class="fas fa-star"></span>
													</label>
													<input type="radio" id="star1" name="review[rating]" value="1" <%=(userReview[0].rating === 1) ? 'checked': ''%>/>
													<label for="star1" title="1 star">
														<span class="fas fa-star"></span>
													</label>
												</div>
											</div>

											<div class="form-group">
												<textarea class="form-control" name="review[text]" placeholder="Write your review..." form="edit-review-form" rows="5" cols="70"><%=userReview[0].text%></textarea>
											</div>
											<div class="form-group">
												<button class="btn btn-success btn-sm">Submit! <span class='fas fa-comment'></span>
												</button>
											</div>
										</form>	
									</div>

									
								</div>
							</div>
						</div>
					<% } %>
					<div class="collapse pt-1" id="collapseReview">
						<div class="card mb-3 submit-form">
							<div class='card-body pb-1'>
								<% if(!currentUser) { %>
									<!--If the user is not logged in, direct him to the login page i am working here-->
									<div class = 'card-subtitle'>
										<h5>You need to login before you can make a review.
											<a href="/login">Click here</a> to go to the login page.
										</h5>	
									</div>
								<% } %>
								<% if(currentUser && !userReview) { %>
								<!--If the user is logged in, show the new comment form-->
									<div class ='card-subtitle'>
										<h4>Write your review <span class="fas fa-pencil-alt" aria-hidden="true"></span>
										</h4>
									</div>
									<div>
										<form id="add-review-form" action="/campgrounds/<%= campground._id %>/reviews" method="POST">
											<div class="form-group">
												<input class="form-control" type="text" disabled value="<%= currentUser.username %>">
											</div>
											<div class='form-group'>
												<div class="starrating risingstar d-flex flex-row-reverse float-left d-block mt-0 mb-1">

													<input type="radio" id="star5" name="review[rating]" value="5"/>
													<label for="star5" title="5 star"1>
														<span class="fas fa-star"></span>
													</label>
													<input type="radio" id="star4" name="review[rating]" value="4"/>
													<label for="star4" title="4 star">
														<span class="fas fa-star"></span>
													</label>
													<input type="radio" id="star3" name="review[rating]" value="3"/>
													<label for="star3" title="3 star">
														<span class="fas fa-star"></span>
													</label>
													<input type="radio" id="star2" name="review[rating]" value="2"/>
													<label for="star2" title="2 star">
														<span class="fas fa-star"></span>
													</label>
													<input type="radio" id="star1" name="review[rating]" value="1"/>
													<label for="star1" title="1 star">
														<span class="fas fa-star"></span>
													</label>
												</div>
											</div>

											<div class="form-group">
												<textarea class="form-control" name="review[text]" placeholder="Write your review..." form="add-review-form" rows="5" cols="70"></textarea>
											</div>
											<div class="form-group">
												<button class="btn btn-success btn-sm">Review <span class='fas fa-comment'></span>
												</button>
											</div>
										</form>	
									</div>

								<% } %>
							</div>
						</div>
					</div>
					<h5 class='pt-1'>
						Reviews by other people:
					</h5>
					
					
					<ul class="list-unstyled pt-1">
						<% if (campground.reviews.length === 0) { %>
						<li class='media border alt-bg no-input col align-self-center'>
							<em>No reviews yet.</em>
						</li>	
						<% } %>
						<% s = 1; campground.reviews.slice(0, 5).forEach(function(review){ %>
						<li class="media border <%= (s%2!==0)?'alt-bg':''%>">
							<%s++;%>
							<div class="media-body px-3 py-1">
								<div class='float-right font-italic'>
									<%= moment(review.createdAt).fromNow()%>
								</div>
								<div>
								  <span class='h5'>
									  Review by: <strong><a class='new-link' href="<%=(currentUser && (currentUser._id.equals(review.author._id))) ?'/userprofile' : '/profiles/'+review.author._id%>"><%= review.author.username%></a></strong>
									</span>	
								</div>
								<div class='d-inline'>
									<%- '<span class="fas fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="far fa-star checked"></span>'.repeat(5 - review.rating) %>
								</div>
									<p class='mt-1 d-inline pl-2'>
										<%= review.text %>
									</p>
								
							</div>
						</li>
						<% }); %>
					</ul>
					<a href='/campgrounds'>Go back</a>
				</div>
			</div>
		</div>
	</div>
		<!-- Campground Likes Modal -->
	<div id="campgroundLikes" class="modal fade" role="dialog" tabindex="-1">
		<div class="modal-dialog" role='document'>
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Campground likes: <%= campground.likes.length %></h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<table class="table table-striped">
						<thead>
						<tr>
							<th>Liked by:</th>
						</tr>
						</thead>
						<tbody>
						<% campground.likes.forEach(function(like) { %>
							<tr>
								<td><span class="badge"><i class="fas fa-user"></i></span> <%= like.username %></td>
							</tr>
						<% }); %>
						<% if (campground.likes.length === 0) { %>
							<tr>
								<td><em>No likes yet.</em></td>
							</tr>
						<% } %>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div id="disableLike" class="modal fade" role="dialog" tabindex="-1">
		<div class="modal-dialog text-center" role='document'>
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header mx-auto">
					<h4 class="modal-title">Liking post</h4>
				</div>
				<div class="modal-body">
					<div class="spinner-border" role="status">
  						<span class="sr-only">Loading...</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	


<%include ../partials/deleteModal%>

	<script src='/scripts/show.js'></script>
	<script>
		var c = {
			title: "<%=campground.title %>",
			lat: <%=campground.lat %>,
			lng: <%=campground.lng %>,
			location: "<%=campground.location %>",
			description: "<%=campground.simple %>"
		}
		LIBRARY.init(c);
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXXF7ag3exLwQLuA13x4maEVtsch13uro&callback=LIBRARY.initMap"></script>

<%include ../partials/footer%>