<%include ../partials/header %>

	<div class='row'>
		<div class='col-md-2 order-3 order-md-1 mt-3 mt-md-5'>
			<div id='map' class='rounded-lg'></div>
		</div>
		<div class='col-md-10 order-md-3'>
			<div class='card'>
				<img id='image' class='card-img-top' src='<%=campground.img%>'>
				<div class='card-body'>
					<h5 class='card-title display-4'>
							<%=campground.title%>
					</h5>
					<div class='card-subtitle'>
						<h4>
							<% if(currentUser && (currentUser._id.equals(campground.author._id))){ %>
									<a class='new-link' href='/userprofile'>
							<% } else { %>
									<a class='new-link' href='/profiles/<%=campground.author._id%>'>
							<% } %>
								<em>Created by:
									<%=campground.author.username %></em></a>

							<span class='float-right'>$<%= campground.price %> per night</span>
						</h4>
						<h5>
							<% if(campground.reviews.length === 0){ %>
									<em>No reviews yet</em>
							<% } else{ %>
									<span class="fa<%=((campground.rating>.75)||((campground.rating>=0.5)&&(campground.rating<=0.75)))? 's': 'r' %> fa-star<%=((campground.rating>=0.5)&&(campground.rating<=0.75))?'-half-alt':'' %> checked"></span>
									<span class="fa<%=((campground.rating>1.75)||((campground.rating>=0.5)&&(campground.rating<=0.75)))? 's': 'r' %> fa-star<%=((campground.rating>=1.5)&&(campground.rating<=1.75))?'-half-alt':'' %> checked"></span>
									<span class="fa<%=((campground.rating>2.75)||((campground.rating>=2.5)&&(campground.rating<=2.75)))? 's': 'r' %> fa-star<%=((campground.rating>=2.5)&&(campground.rating<=2.75))?'-half-alt':'' %> checked"></span>
									<span class="fa<%=((campground.rating>3.75)||((campground.rating>=3.5)&&(campground.rating<=3.75)))? 's': 'r' %> fa-star<%=((campground.rating>=3.5)&&(campground.rating<=3.75))?'-half-alt':'' %> checked"></span>
									<span class="fa<%=((campground.rating>4.75)||((campground.rating>=4.5)&&(campground.rating<=4.75)))? 's': 'r' %> fa-star<%=((campground.rating>=4.5)&&(campground.rating<=4.75))?'-half-alt':'' %> checked"></span>
							<% } %>
							<em>(total reviews: <%= campground.reviews.length %>)</em>
						</h5>
							
					</div>
					
					<hr class="my-3">
					<p>
						<%=campground.description%>
					</p>
					<p>
						Posted: <%= moment(campground.createdAt).fromNow()%>
							
					</p>
					<div class='float-right'>

						<% if(currentUser && (currentUser.isAdmin||campground.author._id.equals(currentUser._id))){ %>
							<a class='btn btn-sm btn-warning' href='/campgrounds/<%= campground._id%>/edit'>Edit</a>
							
							<% } %>
						<% if(currentUser && !(campground.author._id.equals(currentUser._id))){ %>
							<% if(!isFollower){ %>
								<a class='btn btn-sm btn-success' href='/follow/<%= campground.author._id %>'>
									Follow
								</a>
							<% } else{ %>
								<a class='btn btn-sm btn-danger' href='/follow/<%= campground.author._id %>/unfollow'>
									Unfollow
								</a>
							<% } %>
						<% } %>
					</div>
					<div>
						<form action="/campgrounds/<%= campground._id %>/like" method="POST">
							<div class="btn-group">
								<% if (currentUser && campground.likes.some(function (like) {
									return like.equals(currentUser._id)
								})) { %>
									<button class="btn btn-sm btn-primary">
										<i class="fas fa-thumbs-up"></i> Liked (<%= campground.likes.length %>)
									</button>
								<% } else { %>
									<button class="btn btn-sm btn-secondary">
										<i class="fas fa-thumbs-up"></i> Like (<%= campground.likes.length %>)
									</button>
								<% } %>
								<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#campgroundLikes">See more details
								</button>
							</div>
						</form>
					</div>
					
				</div>
			</div>
			<div class='card mt-1'>
				<div class='card-body'>
					<div class='card-title'>
						<h3>
							Latest Comments:
						</h3>
					</div>
					<div class='card-subtitle'>
						
						<div class='float-right'>
								<a class='btn btn-sm btn-success' href='/campgrounds/<%= campground._id%>/comments/new'>
									Leave a Comment
								</a>
							<a href="/campgrounds/<%= campground._id %>/comments"><i class="fa fa-search" aria-hidden="true"></i> See all comments</a>
							
						</div>
						<h5>
							Total comments: <%= campground.comments.length %>
						</h5>
					</div>
					<hr class='my-3'>
					<ul class="list-unstyled">
						<% let s = 1; campground.comments.slice(0, 5).forEach(function(comment){ %>
						<li class="media border <%= (s%2!==0)?'alt-bg':''%>">
							  <% s++ %>
							<div class='col-3'>
								<img src="<%= comment.author.avatar %>" class= "mr-3 img-fluid img-thumbnail" alt="<%= comment.author.username %>'s avatar ">  
							</div>
							<div class="media-body col-9">
							  <p class="mt-0 mb-1">
								  <span class='h5'>
									  <% if(currentUser && (currentUser._id.equals(comment.author._id))){ %>
											<a class='new-link' href='/userprofile'>
										<% } else { %>
											<a class='new-link' href='/profiles/<%=comment.author._id%>'>
										<% } %>
											<%=comment.author.username%>
											</a>
									</span>
									<span class='float-right'>
										<%= moment(comment.createdAt).fromNow()%>
									</span>				
								</p>
								<p>
									<%=comment.text%>	
								</p>	  

								<div>
								<% if(currentUser && (currentUser.isAdmin || comment.author._id.equals(currentUser._id))){ %>
									<a class='btn btn-sm btn-warning float-right' href='/campgrounds/<%= campground._id%>/comments/<%=comment._id%>/edit'>
										Edit
									</a>
								<% } %>
								</div>
							</div>
						</li>
						<% }); %>
					</ul>
				</div>
			</div>
			<div class='card mt-1'>
				<div class='card-body'>
					<div class='card-title'>
						<h3>
							Latest Reviews:
						</h3>
					</div>
					<div class='card-subtitle'>
						<div class='float-right'>
							
							
							<% if(currentUser){ %>
							<%let userReview = campground.reviews.find(review =>{ return review.author._id.equals(currentUser._id)}) %>
								<% if(userReview){ %>
										<a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground._id %>/reviews/<%= userReview._id%>/edit">
											Edit Review
										</a>
								<% } else {%>
										<a class="btn btn-primary btn-sm" href="/campgrounds/<%= campground._id %>/reviews/new">
											Write a New Review
										</a>
								<% } %>
                            	
							<% } %>
							<a href="/campgrounds/<%= campground._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a>
						</div>
						<h5>
							Current campground rating: <strong><%= campground.rating.toFixed(2) %></strong>
						</h5>
					</div>
					<hr class='my-3'>
					<ul class="list-unstyled">
						<% s = 1; campground.reviews.slice(0, 5).forEach(function(review){ %>
						<li class="media border <%= (s%2!==0)?'alt-bg':''%>">
							<%s++;%>
							<div class="media-body col-3">
								<div>
									<%- '<span class="fas fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="far fa-star checked"></span>'.repeat(5 - review.rating) %>
								</div>
								<div>
									Review by: <strong><a class='new-link' href="<%=(currentUser && (currentUser._id.equals(review.author._id))) ?'/userprofile' : '/profiles/'+review.author._id%>"><%= review.author.username%></a></strong>
								</div>
								<div>
									<%= moment(campground.updatedAt).fromNow()%>
								</div>
							</div>
							<div class='col-9'>
								<p>
									<%= review.text %>
								</p>
							</div>
						</li>
						<% }); %>
					</ul>
					<a href='/campgrounds'>Go back</a>
				</div>
			</div>

			
		</div>
	</div>
		<!-- Campground Likes Modal -->
	<div id="campgroundLikes" class="modal fade" role="dialog" tabindex="-1">
		<div class="modal-dialog" role='document'>
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Campground likes: <%= campground.likes.length %></h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<table class="table table-striped">
						<thead>
						<tr>
							<th>Liked by:</th>
						</tr>
						</thead>
						<tbody>
						<% campground.likes.forEach(function(like) { %>
							<tr>
								<td><span class="badge"><i class="fas fa-user"></i></span> <%= like.username %></td>
							</tr>
						<% }); %>
						<% if (campground.likes.length === 0) { %>
							<tr>
								<td><em>No likes yet.</em></td>
							</tr>
						<% } %>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<script src='/scripts/show.js'></script>
	<script>
		var c = {
			title: "<%=campground.title %>",
			lat: <%=campground.lat %>,
			lng: <%=campground.lng %>,
			location: "<%=campground.location %>",
			description: "<%=campground.simple %>"
		}
		LIBRARY.init(c);
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXXF7ag3exLwQLuA13x4maEVtsch13uro&callback=LIBRARY.initMap"></script>

	<%include ../partials/footer%>