<%include ../partials/header %>
	<div class="jumbotron">
		<div class='row'>
			<div class='col-md-8'>
				<h1 class='display-4'>
					Hello <%= currentUser.username%>
				</h1>
				<p class='lead'>
					Profile Information:
				</p>
				
				<p>
					<ul class="list-group">
						<li class="list-group-item"><%= currentUser.firstName %> <%= currentUser.lastName %></li>
						<li class="list-group-item">Member since: <%= currentUser.createdAt.getMonth() %>/<%=currentUser.createdAt.getDate()%>/<%=currentUser.createdAt.getFullYear()%></li>
						<li class="list-group-item">Current email address:
							<a href='mailto:<%= currentUser.email %>'>
								<%= currentUser.email %>
							</a>
						</li>
					</ul>
				</p>

			</div>
			<div class='col-md-4 thumbnail'>
				<img class='img-fluid img-thumbnail' src='<%= currentUser.avatar %>' alt='Avatar image'>
			</div>
		</div>
	</div>

	<div class='row'>
		<div class='col-lg-12'>
			<h3>
				My posted campgrounds
			</h3>
		</div>
	</div>
	<div class='card-columns'>
		<%if(haveCamps){%>
			<% campgrounds.forEach(camp=>{ %>
				<div class='col mb-4'>
					<div class='card bg-light'>
						<img class="card-img-top img-thumbnail" src='<%=camp.img%>' alt='<%=camp.title%>'>
						<div class="card-body text-center">
							<h5 class="card-title">
								<%=camp.title%>
							</h5>
							
							<a href='/campgrounds/<%=camp._id%>' class='btn btn-primary btn-sm'>More Info</a>
							
						</div>
					</div>

				</div>
				<% }); %>
					<% } else{ %>
						<div class='col mb-4'>
							No Campgrounds found!

						</div>
			<% } %>
	</div>
	<hr class='my-3'>
	<h3>
		Comment History:
	</h3>
	<%if(haveComments){%>
		
		<ul class='list-unstyled'>
			<% let t = 1; comments.forEach(comment=>{ %>
			<li class="media border <%= (t%2!==0)?'alt-bg':''%>">
				<% t++; %>
				<div class="col-3">
					<img src="<%= comment.campground.img %>" class= "mr-3 img-fluid img-thumbnail" alt="<%=comment.campground.title %>'s image ">  
				</div>
				<div class="media-body col-9">
					<p class="mt-0 mb-1">
						<span class="h5">
							<a href=<%='/campgrounds/'+comment.campground._id%>><%= comment.campground.title %></a>
						</span>
						<span class='float-right'>
							<%= moment(comment.campground.createdAt).fromNow()%>
						</span>
					</p>
					<p>
						<%=comment.text;%>
					</p>
				</div>
			</li>
			<% }); %>
		</ul>
	<% } else{ %>
		<div class='col mb-4'>
				No Comments found!
			</div>
		<% } %>
<%include ../partials/footer%>